//Background colors

$background-clearer: #d0bcb278;
$background-coffe: #d0bcb2;
$background-hover: #d0bcb2;
$background-white: white;
$background-pink: #ffe4f3;

// text colors

$text-color-coffe: #d0bcb2;
$text-color-coffe-dark: #80746e;
$text-color-white: white;
$text-color-pink: #ffe4f3;
