@import './nav.scss';

.container {
  height: 100vh;
  &__header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f1ef;
    border: none;

    &--logo {
      margin: 20px 0 0 30px;
      width: 180px;
    }
  }
  &__main {
    display: block;
    background-image: url('../../../../public/assets/images/fondo5.svg');
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
